<div id="home">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
        <h2>Sign In</h2>
        <div class="medium-6 cell">
          <form>
            <input type="text" id="email" placeholder="Enter Email" style="border-radius: 5px">
          </form>

          <form>
            <input type="text" id="account_password" placeholder="Enter Password">
          </form>

          <button id="sign-in" class="button">Sign In!</button>
          <button type="submit" id="sign-up" class="button">Sign Up!</button>
      </div>
    </div>
  </div>
</div>