.p {
  text-align: left;
}

.grid-container {
  color: green;
  padding-top: 50px;
  border-radius: 50px;

}

h2 {
  text-align: center;

}

h3 {
  text-align: center;
  font-family: 'Baloo Da 2', cursive;
  font-weight: bolder;
  font-size: 48px;
  color: #04542D !important;
  text-shadow: 2px 2px white;


}
button {
  border-radius: 20px !important;
  background-color: #04542D !important;
  text-align: center !important;
  font-family: 'Ubuntu', sans-serif !important;
}

.buttons{
  text-align: center;
}

.list-group-item {
  line-height: 2.5;
}

#account_password { 
  -webkit-text-security: disc; 
}

body {
  background-image: url("images/background1.jpg") !important;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  background-position: center center;
}


h1 {
  padding-top: 50px;
  font-family: 'Ubuntu', sans-serif !important;
  color: #04542D !important;
  text-shadow: 2px 2px white;


}
h5 {
  font-family: 'Ubuntu', sans-serif !important;
  color: #04542D !important;
  font-size: medium;

}

#account-form {
  border-radius: 20px;
}

.container {
  text-align: center;
  font-family: 'Ubuntu', sans-serif !important;

}

.main {
  text-align: center;
}

footer {
color: white;
font-family: 'Ubuntu', sans-serif !important;
position:fixed; 
bottom:0; 
z-index:100000;
width: 100%;
text-align: center;
}

.accordion {
  font-family: 'Ubuntu', sans-serif !important;
}

.accordion-content {
  color: #04542D !important;
  word-wrap: break-word;
}

.accordion-title {
  color: #04542D;
  font-size: medium;
}

.location {
  text-align: center;
}

label {
  font-size: large !important;
  font-weight: large !important;
  text-shadow: 1px 1px white;
}

.fad.fa-envelope:after {
  text-align: left;
  /* padding-top; */
}